:root{
    --color-black: rgba(0, 18, 11, 1);
	--color-white: rgb(255, 255, 255);
	--color-accent: rgba(0, 0, 238, 1);
	--color-accent-alt: rgba(0, 0, 160, 1);
}
html{
    background-color: var(--color-black);
    color: var(--color-white);
    font-family: "tt-commons-pro", sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    letter-spacing: 0.01em;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-size-adjust: 100%;
}